div.controller {
    position: absolute;
    right:0;
    top:0;
    padding: 10px;
    z-index:10000;
    background-color: rgba(255,255,255,0.5);
}
div.controller:hover {
    background-color: white;
}
button {
    background-color: transparent;
}
.ng-hide { display: none;}